
@import "~font-awesome/scss/font-awesome.scss";

$app-fontcolor: #eee;
$app-bgcolor: #006;
$app-titlefont: 'Nova Flat', cursive;

body {
  background-color: $app-bgcolor;
  color: $app-fontcolor;

  h1 {
    font-family: $app-titlefont;
  }

}
