@import '_vendor';
@import '_theme';

body {
  background-color: $app-quarternary;
  color: $app-black;

  nav {

    ul, i {
      display: inline;
      margin-left: 30px;
    }

    i {
      color: $app-primary;
    }

    li {
      display: inline;
      margin-right: 20px;

      a {
        color: $app-tertiary;
        font-family: $app-blockfont;
        font-size: 2em;
        text-decoration: none;
      }

      a:hover {
        color: $app-primary;
      }
    }
  }

  h1 {
    font-family: $app-titlefont;
    color: $app-primary;
    font-size: 3em;
  }

  form {
    font-family: $app-blockfont;

    button {
      margin: 5px;
    }
  }

  h3 {
    font-family: $app-specialfont;
    color: $app-primary;
    font-size: 1.5em;
  }

  pre {
    background-color: $app-quarternary;
    color: $app-secondary;
    font-weight: bold;
    font-size: 1.25em;
    border: none;
  }

  pre:hover {
    color: $app-primary;
  }

}
