<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <title> Cowsay Client </title>
    <link href="https://fonts.googleapis.com/css?family=Nova+Cut|Nova+Flat|Nova+Slim|Nova+Square" rel="stylesheet">  </head>
  <body>
    <nav ng-controller="NavController as navCtrl">
      <i class="fa fa-hand-spock-o"></i>
      <ul>
        <li ng-repeat="navItem in navCtrl.routes">
          <a ng-href="{{navItem.url}}">{{navItem.name}}</a>
        </li>
      </ul>
      <i class="fa fa-hand-lizard-o"></i>
    </nav>

    <section ng-controller="CowsayController as cowsayCtrl" ng-init="cowsayCtrl.currentCow = 'eyes'">
      <h1> {{cowsayCtrl.title}} </h1>
      <form ng-submit="cowsayCtrl.speak(cowsayCtrl.text)" novalidate name="cowsayForm" ng-class="{'app-red': cowsayForm.$invalid}">
        <!-- Eyes:<input type="text" ng-model="">
        Tongue:<input type="text" ng-model=""> -->
        <input type="text" ng-model="cowsayCtrl.text" required ng-minlength="4">
        <select ng-model="cowsayCtrl.currentCow">
          <option ng-repeat="cowFile in cowsayCtrl.cowFiles" value="{{cowFile}}">{{cowFile}}</option>
        </select>
        <button type="button" ng-click="cowsayCtrl.undo()"> Undo! </button>
        <button type="submit"> Speak! </button>
      </form>

      <pre>
         {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
      </pre>

      <h3 ng-hide="cowsayCtrl.historyText.length > 0"> Hit "Speak!" and a second image will appear here! </h3>
      <h3 ng-show="cowsayCtrl.historyText.length > 0"> Hit "Undo!" and this image will disappear! </h3>
      <pre ng-if="cowsayCtrl.historyText.length > 0">
        {{cowsayCtrl.updateCow(cowsayCtrl.secondtext)}}
      </pre>

    </section>
  </body>
</html>
